@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;
}
body{
    font-size: large;
    background-color: #d1a6e4;
    
}
.header{
    height: 60px;
    background-color: #9400d3 ;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;  
    margin: 0 auto;
    flex: 1;
  }
  .header-content {
      padding: 200px;
      width: 600px;
  }
  .logo img, .logo {
      width: 75px; 
      position: absolute;
      top: 0px;
      margin-left: 30px;
      max-width: 100%;
  }
  .menu nav {
    display: flex;
    width: 100%;
  }
  
  .menu nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px; 
    border-radius: 5px;
    color: #ffdb58;
  }
  
  .botao button{
    padding: 5px 10px;
    background: none;
    background: #ffdb58;
    
}
.content{
    margin-top: 30px;
    max-width: 100%;
}
.informacoes-hotel{
        height: 900px;
        width: 900px;
        background-color: #d1a6e4;
        border-radius: 40px; 
        margin-left: 200px; 
        margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .menu {
        justify-content: space-between;
        align-items: center;
    }

    .menu nav {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .menu.active nav {
        display: flex;
        flex-direction: column;
    }

    .menu nav a {
        margin: 5px 0;
    }
}
footer {
    background-color: rgb(132, 85, 176);
    color: rgb(15, 13, 13);
    padding: 40px 0;
    width: 100%;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 auto;
}

.footer-section h3 {
    font-size: 18px;
    color: #ffdb58; /* Amarelo */
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(15, 13, 13); /* Cor do texto branco para os links dentro dos itens da lista */
    text-decoration: none; /* Remover sublinhado dos links */
}

