@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;


}
body{
    font-size: large;
    background-color: #d1a6e4;
}
    
.header{
    height: 60px;
    background-color: #9400d3 ;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;  
}
.header-content {
    padding: 200px;
    width: 600px;
}
      
.logo img, .logo {
    width: 75px; 
    position: absolute;
    top: 0px;
    margin-left: 30px;
    max-width: 100%;
    
}
      
.menu nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px; 
    border-radius: 5px;
    color: #ffdb58;
    flex-grow: 1;
}
      
.botao button{
    padding: 5px 10px;
    background: none;
    background: #ffdb58;
}
.section-1 h1{
    margin-top: 2rem;
    font-size: 2rem;
}
.hospedagens-card-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card-img {
    width: 300px; /* Ajuste conforme necessário */
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* Adapte a cor de fundo conforme necessário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card-img {
        width: 100%; /* Muda para largura total em telas menores */
    }
}

.card-img img{
    width: 165px; ;
    height: auto;
    border-radius: 5px;

}
.card-img h3{
    font-size: 1.5rem;
    
}
.card-img p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.card-img:hover{
    transform: scale(1.05, 1.05,1);
    transition: 0.5s all;
    background-color: rgb(151, 45, 184);
    
}
footer {
    background-color: rgb(132, 85, 176);
    color: rgb(15, 13, 13);
    padding: 40px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 auto;
}

.footer-section h3 {
    font-size: 18px;
    color: #ffdb58; /* Amarelo */
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(15, 13, 13); /* Cor do texto branco para os links dentro dos itens da lista */
    text-decoration: none; /* Remover sublinhado dos links */
}

