@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Noto Sans', sans-serif;
}

body {
  font-size: large;
  background-color: #d1a6e4;
}
.header{
  height: 60px;
  background-color: #9400d3 ;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;  
  margin: 0 auto;
  flex: 1;
}
.header-content {
    padding: 200px;
    width: 400px;
}

.logo img, .logo {
    width: 75px; 
    position: absolute;
    top: 0px;
    margin-left: 30px;
    max-width: 100%;
    
}
.menu nav {
  display: flex;
  width: 100%;
}

.menu nav a {
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px; 
  border-radius: 5px;
  color: #ffdb58;
}

.botao button{
    padding: 5px 10px;
    background: none;
    background: #ffdb58;
}
.content{
  margin-top: 30px;
}
.cadastro{
    float: left;
    border: 1px solid rgb(124, 143, 143);
    display: flex;
  
  }
  select{
    width: 105%;
    padding: 8px;
    border-radius: 4px;
  }
  .botao-passagensd2{
    border-radius: 4px;
    padding: 3px;
    background: #ffdb58;

  }

  .promocoes {
    height: 840px;
    width: 840px;
    float: right;
    margin-top: 20px;
    margin-left: auto;  /* Centralizando à direita */
    margin-right: 20px;
    border-radius: 20px;
    max-width: 360px;
    overflow: hidden;
  }
  

video {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 50px;
    margin-left: auto;  
    margin-right: 5px;
    border-radius: 20px;
    max-width: 360px;
    
}

footer {
    background-color: rgb(132, 85, 176);
    color: rgb(15, 13, 13);
    padding: 40px 0;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    color: #ffdb58; /* Amarelo */
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(15, 13, 13); /* Cor do texto branco para os links dentro dos itens da lista */
    text-decoration: none; /* Remover sublinhado dos links */
}


.container {
    display: flex;
    justify-content: center;
    
  
  }

  .tit_container{
  text-align: center; 
  margin-top: 10px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

  table {
    width: 400px;
    margin: 20px;
    background-color: rgb(148, 119, 176);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Adiciona uma borda na parte inferior */
  }

  th {
    color: #070707;
  }

  button {
    padding: 8px 16px;
    background-color: #ffdb58;
    color: #060606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

