@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Roboto';
        }

        .section-1 h1 {
            text-align: center;
            margin-top: 2rem;
            font-size: 2rem;
        }

    
.container-card-1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.card-img{
    margin: auto;
    padding: 10px;
    background-color: rgb(148, 119, 176);
    border-radius: 20px;
    width: 270px;
    height: 270px;
    text-align: center;

}

.card-img img{
    width: 140px; ;
    height: auto;
    border-radius: 5px;

}

.card-img h3{
    font-size: 1.5rem;
    
}

.card-img p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.card-img:hover{
    transform: scale(1.05, 1.05,1);
    transition: 0.5s all;
    background-color: rgb(151, 45, 184);
    
}
