*{
    margin: 0%;
    padding: 0%;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


#cabecalho{
    height: 90px;
    background-color: #6b6bcf;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.imagem,.menu{
    width: 40%;
    padding-right: 35%;
}
.menu{
    width: 50%;
    padding: 25%;
    
}
.menu nav a{
    color: aqua;
    text-decoration: none;
    padding-right: 35px;
    margin-bottom: 10px;
    
  
}
.botao button{
    border: none;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 5px;

}
.botao button{
    text-decoration: none;
    color: aqua;
    font-weight: 500;
}
.cadastro {
    float: left;
  border: 1px solid rgb(124, 143, 143);
  display: flex;
  
  }
#pesquisa{
    height: 600px;
    width: 300px;
    background-color:rgb(94, 244, 255);
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    
}

#conteudo{
    height: 600px;
    width: 700px;
    background-color: #6b6bcf;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;

}
#promocoes{
    height: 600px;
    width: 300px;
    background-color: #6b6bcf;
    float: right;
    margin-top: 20px;

}
#ajuda{
    height: 200px;
    background-color: #6b6bcf;
    clear: both;
    width: 100%;
    margin: 0 auto;

}
